*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F4ECFB;
}

.card h3 {
  color: #9499A7;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.card {
  display: grid;
  height: 100vh;
  place-items: center;
  
}

.card-filho {
  max-width: 659px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 3rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  color: #9499A7;
  font-weight: bold;
  font-size: 1.24rem;
}

.card-filho p {
  color: #9499A7;
  line-height: 150%;
}

#peso,
#altura,
.calcular {
  border: 1px solid #D6D8E7;
  border-radius: 16px;
  width: 280px;
  height: 64px;
  margin: .7rem;
  padding: .5rem;
}

.calcular {
 background-color: #FFE0F9;
 color: #5956E9;
}

#peso {
  background-image: url(../img/icon-balança.png);
  background-repeat: no-repeat;
  background-position: left 1rem center;
  padding-left: 4.25rem;
}

#altura {
  background-image: url(../img/icon-regua.png);
  background-repeat: no-repeat;
  background-position: left 1rem center;
  padding-left: 4.25rem;
}

#mostraImc {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

input:hover {
  outline: 2px solid #5956E9;
}

