*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F4ECFB;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.card {
  display: grid;
  place-items: center;
  
}

.card-filho {
  max-width: 659px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 3rem;
  margin-top: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  
}

.card-filho p {
  color: #9499A7;
  line-height: 150%;
}

.input-peso,
.input-altura,
.input-enviar {
  border: 1px solid #D6D8E7;
  border-radius: 16px;
  width: 380px;
  height: 64px;
  margin: .7rem;
  padding: .5rem;
}

.input-enviar {
 background-color: #FFE0F9;
 color: #5956E9;
}

input:hover {
  outline: 2px solid #5956E9;
}
